<h2>My Cart</h2>

<% @line_item.each do |line_item| %>
  <%= line_item.product.name %><br />
  <%= number_to_currency line_item.product.price %><br />
  Qty: <%= line_item.quantity %><br />
  Subtotal: <%= number_to_currency line_item.line_item_total %><br />
<% end %>
<br />

<%= link_to "Proceed to Checkout", checkout_path, class: "btn btn-primary" %>
